* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.grid-container {
  background-color: blue;
  padding: 5px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}
.grid-item {
  background-color: white;
  margin: 3px;
}
